
# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Flask specific
instance/
*.log

# Virtual Environment
.env/
venv/

# AWS credentials and configurations
.aws/
.env  # Environment variables

# Logs
*.log

# Config files
config.yaml

# Build artifacts
build/
dist/
*.egg-info/

# macOS specific
.DS_Store
